name: Build and test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - 4.12.0

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - run: echo "LOCAL_PATH=$HOME/.local/bin" >> $GITHUB_ENV
      - run: echo "CLUSTALO_EXE=$LOCAL_PATH/clustalo" >> $GITHUB_ENV

      - name: Setup path
        run: |
          mkdir -p "$LOCAL_PATH"
          echo "$LOCAL_PATH" >> $GITHUB_PATH

      - name: Download Clustal Omega (Linux)
        run: |
          \curl -L http://www.clustal.org/omega/clustalo-1.2.4-Ubuntu-x86_64 > "$CLUSTALO_EXE"
        if: matrix.os == 'ubuntu-latest'

      - name: Download Clustal Omega (MacOS)
        # 1.2.4 isn't available for MacOS
        run: |
          \curl -L http://www.clustal.org/omega/clustal-omega-1.2.3-macosx > "$CLUSTALO_EXE"
        if: matrix.os == 'macos-latest'

      - name: Setup and check Clustal Omega
        run: |
          chmod 755 "$CLUSTALO_EXE"
          clustalo --version

      - name: Download MAFFT
        run: |
          \curl -L https://mafft.cbrc.jp/alignment/software/mafft-7.481-without-extensions-src.tgz \
          | tar xz

      - name: Install MAFFT
        run: cd mafft-*/core/ && make clean && make && sudo make install

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true
          cache-prefix: v1-${{ matrix.os }}

      - run: opam install . --deps-only --with-doc --with-test

      - run: opam exec -- make build

      - run: opam exec -- make install

      - run: opam exec -- make test

      - run: opam exec -- make send_coverage
        if: matrix.ocaml-compiler == '4.12.0'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload the build artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.ocaml-compiler }}-pasv
          path: _build/install/default/bin/pasv
